<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="This is a blog site created preferably for first year college students. Here you can go through the experiences of seniors and can share yours also.  You can also share your problem (if you have any).">
  <meta name="keywords" content="Being IITian, being iitian, aditya prakash iitk, Aditya Prakash, Aditya, IIT, IITK, Student blog">
  <meta name="author" content="Aditya Prakash">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=pageTitle%></title>
  <link rel="stylesheet" href="css/nav.css">
  <link rel="shortcut icon" href="images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Rajdhani|Dancing+Script|Merienda|EB+Garamond|Cardo|Jim+Nightshade|Playfair+Display|Raleway&display=swap" rel="stylesheet">
</head>
<nav>
  <img class="nav-title-box" src="images/logo.png" onclick="parent.location='/'"/>
  <span style="margin-top: 20px; margin-bottom:10px;">
    <span class="nav-box">
      <a class="nav-navbar-item" href="/">Home</a>
      <a class="nav-navbar-item" href="/contact">Contact</a>
    </span>
    <div class="nav-navbar-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.8 20">
        <rect y="1.5" x="0" width="24.8" height="2" class="nav-svg1"></rect>
        <rect y="10" x="0" width="24.8" height="2" class="nav-svg2"></rect>
        <rect y="18.5" x="0" width="24.8" height="2" class="nav-svg3"></rect>
      </svg>
    </div>
  </span>

</nav>
<div class="nav-header-links">
  <div class="nav-header-box">
    <img class="nav-title-box" src="images/logo.png"  onclick="parent.location='/'"/>
    <span style="margin-top: 20px; margin-bottom:10px;">
      <span class="nav-box">
        <a class="nav-navbar-item" href="/">Home</a>
        <a class="nav-navbar-item" href="/contact">Contact</a>
      </span>
      <img class="nav-image-cross" src="images/cross.svg" />
    </span>
  </div>
  <div class="nav-header-content">
    <h1 id="typewriter" class="nav-typewrite"></h1>
    <div style="width: 50%; float: left;">
      <button type="button"  class="nav-btn-header" onclick="parent.location='/questions'"><span class="nav-btn-name">Have Questions 🤔</span></button>
      <button type="button"  class="nav-btn-header" onclick="parent.location='/compose'"><span class="nav-btn-name">Share Your Experiences 🥰</span></button>
      <button type="button"  class="nav-btn-header" onclick="parent.location='/gallery'"><span class="nav-btn-name">Gallery 😇</span></button>
      <button type="button" class="nav-btn-header" onclick="parent.location='https://prakashaditya369.github.io'"><span class="nav-btn-name">Wanna Know Me 😜</span></button>
    </div>
    <div class="nav-image-div" style="width: 50%; float: right;">
<img class="nav-huh" src="images/what you want.png" alt="">
    </div>

  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/nav.js" charset="utf-8"></script>
